body{
    background-color: rgb(227, 227, 227);
}
div {
    margin:10px;
    text-align: center;
}
p, a{
    font-size: 22px;
    letter-spacing:0.7px;
}
li {
    font-size: 25px;
}

/*HEADER */
.head{
    display: flex;
    width: 100%;
    height: 60px;
}
.headName, .headMake {
    width: 30%;
}
.headRubrics{
    width:40%;
    height:100%;
    display: flex;
}
.headRubBut{
    height:100%;
    margin: auto;
    display:flex;
    text-align: left;
    border-radius: 10px;
    transition: 0.5s;
}
.headRubBut:hover{
    outline: 3px solid #ffffff; /* Параметры рамки */
}
.zyrenkam{
    text-align: left;
    margin-left: 20px;
}
.headMakeOrder{
    text-align: right;
    margin-right: 20px;
}
.zyrLink{
    text-decoration: none;
    color:black;
    margin-left: 5px;
    margin-right: 5px;
}

/*DESIGNED BY ZYRENKAM*/
.designed{
    display: flex;
    width:100%;
    height: 500px;
}
.desByDes, .desByBy{
    font-size: 140px;
    text-align: left;
    margin-left: 20px;
    margin-top:auto;
}
.desZyrText{
    font-size: 140px;
    text-align: right;
    margin-right: 20px;
    margin-bottom: 9%;
    height: 100%;
}
.desBy{
    width:45%;
    height: 200px;
    margin-top: 15px;
}
.desZyr{
    width:45%;
    display: flex;
    margin-top: auto;
}
.desSpace{
    width:10%;
    text-align: left;
    margin-top: 15px;
    margin-left: auto;
}
.desSpaceUp{height: 50%;}
.desSpaceDown{height: 50%;}

/*VARIANTS*/
.variants{
    width:100%;
    height: 160px;
}
.varText, .varName{
    text-align: left;
    margin-left: 20px;
}
.varName{
    display: flex;
}
.varNameText{
    width: 80px;
    border-radius: 20%;
    background-color: white;
}

/*ABOUT*/
.about{
    width:80%;
    background-color: white;
    border-radius: 20px;
    margin: auto;
}
.aboutTitle{
    font-size: 100px;
    text-align: left;
    margin-left: 20px;
    margin-top: 6%;
    margin-bottom: 0px;
}
.aboutText{
    display: flex;
}
.aboutTextTxt{
    width:40%;
    margin-top: auto;
    margin-left: 65px;
    text-align: left;
}
.aboutTextImg{
    width:60%;
    height: min-content;
    margin-right: auto;
}
.aboutTextImgImg{
    width:600px;
    align: right;
    text-align: right;
    border-radius: 20px;
    border-color: black;
    border-style: outset;
}

/*EXAMPLE*/
.example{
    width:80%;
    background-color: white;
    border-radius: 20px;
    margin: auto;
   
}
.exampleTitle{
    font-size: 100px;
    text-align: left;
    margin-left: 20px;
    margin-top: 6%;
    margin-bottom: 0px;
}
.exampleBlock{
    margin: auto;
    display:flex;
}
.exampleBlockTextList{
    text-align: left;
    font-size: 20px;
    line-height: 150%;
}
.exampleBlockImgImg{
    width:600px;
    align: right;
    text-align: right;
    border-radius: 20px;
    border-color: black;
    border-style: outset;
}
.exampleBlockText{
    margin-left:65px;
    width: 40%;
}
.exampleBlockImg{
    width:60%;
}

/*REVIEW*/
.review{
    width:80%;
    background-color: white;
    border-radius: 20px;
    margin: auto;
}
.reviewTitle{
    font-size: 100px;
    text-align: left;
    margin-left: 20px;
    margin-top: 6%;
    margin-bottom: 0px;
}
.reviewBlock{
    margin:auto;
    display: flex;
}
.reviewBlockText{
    width:40%;
    margin-top: auto;
    margin-left: 65px;
    text-align: left;
}
.reviewBlockImg{
    width:60%;
    height: min-content;
    margin-right: auto;
}
.reviewBlockImgImg{
    width:600px;
    border-radius: 20px;
    margin-right: auto;
    border-color: black;
    border-style: outset;
}
.reviewButtonBut{
    border-radius: 20px;
    border-style: outset;
    background-color: black;
    width:200px;
    height:70px;
    font-size: 20px;
    background-color: white;
    transition: 0.5s;
    
    border-color: rgb(44, 187, 44);
}
.reviewButtonBut:hover{
    background-color: rgb(44, 187, 44);;
    color:white;
}

/*FOOTER*/
.footer{
    width: 70%;
    background-color: white;
    display:flex;
    margin:auto;
    height:220px;
    border-radius: 20px;
}
.footerLeft{
    width:33%;
    margin-top: 25px;
}
.footerCenter{
    width:33%;
    margin-top: 25px;
}
.footerRight{
    width:33%;
    margin-top: 25px;
}
.footerText{
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color:black;
    display: block;
    line-height: 50px;
}
.footerRightBlock{
    width:50%;
    height:67%;
    margin-left: auto;
    margin-right: auto;
}
.footerRightTextList{
    text-align: left;
    font-size: 30px;
    height:min-content;
}
